<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.common.transaction.dao.MessageDao">

    <resultMap id="baseMap" type="com.common.transaction.entity.MessageEntity" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="message_id" property="message_id" jdbcType="BIGINT"/>
        <result column="data" property="data" javaType="com.alibaba.fastjson.JSONObject" jdbcType="VARCHAR" typeHandler="com.common.transaction.utils.JSONHandler" />
        <result column="reserved_at" property="reservedAt" jdbcType="TIMESTAMP" />
        <result column="topic" property="topic" jdbcType="VARCHAR" />
        <result column="type" property="type" jdbcType="INTEGER" />
        <result column="attempts" property="attempts" jdbcType="INTEGER" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
        <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="Insert_Column_List">
        message_id,data,reserved_at,topic,type,attempts,status,created_at,updated_at
    </sql>

    <update id="saveOrUpdateMessage"  useGeneratedKeys="true" keyProperty="id" parameterType="com.common.transaction.entity.MessageEntity">
        insert into yimq_messages
        (<include refid="Insert_Column_List" />)
        values (
            #{message_id,jdbcType=BIGINT},
            #{data,jdbcType=VARCHAR,javaType=com.alibaba.fastjson.JSONObject,typeHandler=com.common.transaction.utils.JSONHandler},
            #{reservedAt,jdbcType=TIMESTAMP},#{topic,jdbcType=VARCHAR},#{type,jdbcType=INTEGER},
            #{attempts,jdbcType=INTEGER},#{status,jdbcType=INTEGER},
            #{createdAt,jdbcType=TIMESTAMP},#{updatedAt,jdbcType=TIMESTAMP}
        )
        on duplicate key update
        status=values(status),
        attempts=values(attempts)
    </update>


    <select id="selectMessageByIdForUpdate" parameterType="java.math.BigInteger" resultMap="baseMap" >
        select id,message_id,data,topic,type,status,reserved_at,attempts,created_at,updated_at from yimq_messages
        where message_id = #{messageId,jdbcType=BIGINT}
        for update
    </select>
    
    <select id="selectMessageById" parameterType="java.math.BigInteger" resultMap="baseMap" >
        select id,message_id,data,topic,type,status,reserved_at,attempts,created_at,updated_at
        from yimq_messages
        where message_id = #{messageId,jdbcType=BIGINT}
    </select>

    <delete id="deleteMessageByMessageId" parameterType="java.math.BigInteger" >
        delete from yimq_messages where message_id = #{messageId,jdbcType=BIGINT}
    </delete>

    <select id="selectMessageListByIdForUpdate" resultType="com.common.transaction.entity.MessageEntity">
        select message_id from yimq_messages
        where message_id in
        <foreach collection="messageIdList" item="messageId" index="index" open="(" close=")" separator=",">
            #{messageId,jdbcType=BIGINT}
        </foreach>
        <if test="null != status" >
            and status = #{status,jdbcType=INTEGER}
        </if>
        for update skip locked
    </select>
    
    <delete id="deleteMessage" parameterType="java.util.List">
        delete from yimq_messages
        where message_id in
        <foreach collection="messageIdList" item="messageId" index="index" open="(" close=")" separator=",">
            #{messageId,jdbcType=BIGINT}
        </foreach>
    </delete>

</mapper>