<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yimq.transaction.dao.MessageDao">

    <resultMap id="baseMap" type="com.yimq.transaction.entity.MessageEntity" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="topic" property="topic" jdbcType="VARCHAR" />
        <result column="type" property="type" jdbcType="INTEGER" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
        <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="Insert_Column_List">
        id,topic,type,status,created_at,updated_at
    </sql>

    <update id="saveOrUpdateMessage"  useGeneratedKeys="true" keyProperty="id" parameterType="com.yimq.transaction.entity.MessageEntity">
        insert into yimq_messages
        (<include refid="Insert_Column_List" />)
        values (
            #{id,jdbcType=INTEGER},#{topic,jdbcType=VARCHAR},#{type,jdbcType=INTEGER},#{status,jdbcType=INTEGER},
            #{createdAt,jdbcType=TIMESTAMP},#{updatedAt,jdbcType=TIMESTAMP}
        )
        on duplicate key update
        status=values(status)
    </update>


    <select id="selectMessageByIdForUpdate" parameterType="java.lang.Integer" resultMap="baseMap" >
        select id,topic,type,status,created_at,updated_at from yimq_messages
        where id = #{messageId,jdbcType=INTEGER}
        for update
    </select>
    
    <select id="selectMessageById" parameterType="java.lang.Integer" resultMap="baseMap" >
        select id,topic,type,status,created_at,updated_at
        from yimq_messages
        where id = #{messageId,jdbcType=INTEGER}
    </select>

    <delete id="deleteMessageById" parameterType="java.lang.Integer" >
        delete from yimq_messages where id = #{id,jdbcType=INTEGER}
    </delete>


</mapper>